/* Color scheme variables */
:root {
  --text-color-muted: #aaaaaa;
  --text-color-muted-hover: #5d5c5c;
  --section-border-color: #B8B8B8;
  --section-bg: #fff;

  --text-color-dark-900: #1b1a1a;
  --text-color-dark-800: #2d2c2c;
  --text-color-dark-700: #444343;
  --text-color-dark-600: #5d5c5c;
  --text-color-dark-500: #757474;
  --text-color-dark-400: #9a9999;
  --text-color-dark-300: #b8b8b8;
  --text-color-dark-200: #d6d6d6;
  --text-color-dark-100: #ededed;
  --text-color-dark-50: #f7f7f7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color-dark-900: #f3f3f3;
    --text-color-dark-800: #e0e0e0;
    --text-color-dark-700: #cccccc;
    --text-color-dark-600: #b5b5b5;
    --text-color-dark-500: #9a9999;
    --text-color-dark-400: #757474;
    --text-color-dark-300: #5d5c5c;
    --text-color-dark-200: #444343;
    --text-color-dark-100: #2d2c2c;
    --text-color-dark-50: #1b1a1a;
    --text-color-muted: #5d5c5c;
    --text-color-muted-hover: #b5b5b5;
    --section-border-color: #444;
  }
}

#root {
  width: 100%;
  max-width: 100dvw;
  margin-inline: auto;
}

body {
  overscroll-behavior: none;
  color: var(--text-color-dark-900);
}

header.scroll-active {
  background-color: #ffffff0e;
  backdrop-filter: blur(8px);
  border-bottom: 3px solid #ffffff1a;
}

.hero_section {

  background-image: url("https://images.unsplash.com/photo-1633886038251-66242d6cf688?q=80&w=3132&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 1;
  }

  @media (min-width: 768px) {
    height: 40dvh;
  }

  @media (min-width: 1024px) {
    height: 50dvh;
  }
}

.nav-link {
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: currentColor;
  transition: width 0.3s ease;
}


.nav-link.active {
  font-weight: 500;
}

.recent_work_pre {
  padding-block: 1rem;
  padding-inline: 2rem;

  .second_section_div {

    h2 {
      font-size: clamp(2.5rem, 2.564vw + 1.699rem, 3.75rem);
      line-height: 100%;
      color: var(--text-color-dark-900);
    }

    .blurbs_section_text {
      font-size: clamp(0.938rem, 1.154vw + 0.577rem, 1.5rem);
      color: var(--text-color-dark-500);
    }

    @media (min-width: 1364px) {
      max-width: calc(100dvw - 40rem);
    }
  }
}

.latest_work {
  color: var(--text-color-dark-900);

  .latest_work_div {
    .latest_work_headline_details {

      .filtered_text {
        font-size: clamp(1.25rem, 4.615vw - 0.192rem, 3.5rem);
        font-weight: 600;
        max-width: 564px;
        line-height: 100%;
        color: var(--text-color-dark-900);

        span.filter_text_btn {
          margin-right: .5rem;
          cursor: pointer;
          color: var(--text-color-muted);
          transition: color 0.3s ease-in;

          &:hover {
            color: var(--text-color-muted-hover);
          }

          &:not(:last-child)::after {
            content: ", ";
          }
        }

        span.filter_text_btn.active {
          color: var(--text-color-dark-900);
          cursor: default;

          &:hover {
            color: var(--text-color-dark-900);
          }
        }
      }
    }

    ul.list_of_works {
      margin-block-start: 4rem;

      .list_of_works_item {
        border-bottom: 1px solid var(--section-border-color);

        &:first-child {
          border-top: 1px solid var(--section-border-color);
        }

        .list_of_works_link {
          color: var(--text-color-dark-900);

          >div {
            display: flex;
            min-width: 50px;
            align-items: start;
            justify-content: center;
            flex-direction: column;

            &:nth-of-type(1) {
              display: none;
            }

            &:nth-of-type(3) {
              display: none;
            }

            &:nth-of-type(4) {
              display: none;
            }

            .work_item_label {
              font-size: 10px;
              color: var(--text-color-muted);
            }

            .project_name {
              font-size: clamp(1.25rem, 1.538vw + 0.769rem, 2rem);
              color: var(--text-color-dark-900);
            }

          }

          @media (max-width:992px) {
            .image_container {
              overflow: hidden;
              max-width: 30%;

              img {
                max-width: 100%;
              }
            }
          }

          @media (min-width: 992px) {

            >div {

              &:nth-of-type(1) {
                display: flex;
              }

              &:nth-of-type(2) {
                display: flex;
                width: 30%;
              }

              &:nth-of-type(3) {
                display: flex;
                width: 15%;
              }

              &:nth-of-type(4) {
                display: flex;
                width: 15%;
              }
            }
          }
        }

        @media (max-width: 992px) {
          padding-inline: 0;

        }
      }
    }
  }
}

.loc_name,
.services_names,
.listofworks_number {
  color: var(--text-color-dark-600);
}